@model LinkyMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Account settings";
}
<div class="container body-content">

    <h2>@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>E-mail / Login:</dt>
            <dd>
                @Model.Email
            </dd>

            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change Password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</div>