@model Linky.Entities.Models.Link

@{
    ViewBag.Title = "Details";
}
<div class="container body-content">
    <div class="row" style="margin-top: 2rem;">
        <div class="panel panel-primary col-md-8 col-md-offset-2 linkycolor" style=" border-color: #681879">
            <div class="panel-body row">
                <div class="col-sm-6">
                    <h2>Link statistics</h2>
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="@Url.Action("Index")" class="btn btn-danger">Back to list</a>
                        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-warning">Edit</a>
                    </div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                Label:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Label)
                            </dd>

                            <dt>
                                Destination:
                            </dt>

                            <dd>
                                <a id="destination" href="@Model.URL">@Html.DisplayFor(model => model.URL)</a>
                            </dd>

                            <dt>
                                Clicks:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Clicks)
                            </dd>

                            <dt>
                                Created at:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreatedAt)
                            </dd>

                        </dl>
                    </div>
                <div id="qrCode" class="col-sm-6"></div>
            </div>
        </div>
    </div>
    @if (Model.Clicks > 0)
    {
        <div class="panel panel-primary linkycolor" style=" border-color: #681879">
            <div class="panel-body">
                <div id="countryChart" class="chart center-block linkycolor"></div>
            </div>
        </div>

        <div class="panel panel-primary linkycolor" style=" border-color: #681879">
            <div class="panel-body">
                <div id="dailyChart" class="chart center-block linkycolor"></div>
            </div>
        </div>
    }
    else
    {
        <p>No clicks so far.</p>
    }

    @section scripts
{
        @Scripts.Render("~/bundles/qrcode")
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        <!-- Statistics -->
        <script>
    window.onload = function () {

        var countryChart = new CanvasJS.Chart("countryChart", {
            theme: "light2",
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Clicks by country"
            },
            data: [{
                type: "pie",
                startAngle: 90,
                toolTipContent: "<b>{label}</b>: {y}",
                showInLegend: "true",
                legendText: "{label}",
                indexLabel: "{label} - {y}",
                dataPoints: @Html.Raw(ViewBag.CountryData)
	        }]
        });
        countryChart.render();

        var dailyChart = new CanvasJS.Chart("dailyChart", {
            theme: "light2",
            exportEnabled: true,
	        animationEnabled: true,
	        title: {
		        text: "Clicks per day"
	        },
	        axisX: {
                valueFormatString: "DD MMM",
                interval: 1,
                intervalType: "day"
	        },
	        axisY: {
                interval: 1
	        },
	        data: [{
		        type: "column",
		        xValueType: "dateTime",
		        xValueFormatString: "DD MMM",
		        dataPoints: @Html.Raw(ViewBag.DailyData)
	        }]
        });
        dailyChart.render();
    }
        </script>

        <!-- QR -->
        <script>
        new QRCode("qrCode", "@Model.URL");
        </script>
    }
</div>